.header {
    display: flex;
    flex-direction: row;
    padding: 32px 68px;
    justify-content: space-between;
  }
  .logo {
    width: 60px;
  }
  .boton {
    width: 148px;
    height: 43px;
    border-radius: 61px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
  }
  .boton:hover {
    cursor: pointer;
  }
  .botonLight {
    border: 1px solid #6809e1;
    color: #6809e1;
    background-color: #ffffff;
  }
  .botonDark {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #373737;
  }
  